<nav>
  <ul>
    <li><a href="/admin">Admin Home</a></li>
  </ul>
</nav>

<form method="post" action="/admin/deals/<%= @deal.id %>">
  <input type="hidden" name="_method" value="put">

  <div>
    <label for="name-field">Deal Name:</label>
    <div>
      <input
      type="text"
      name="name"
      value="<%= @deal.name %>"
      />
    </div>
    <label for="discount-field">Discount:</label>
    <div>
      <input
      type="text"
      name="discount"
      value="<%= @deal.discount %>"
      />
    </div>
    <label for="day-field">Day:</label>
    <div>
      <input
      type="text"
      name="day"
      value="<%= @deal.day.to_s %>"
      />
    </div>
    <div>
      <select name="eatery_id">
        <% @eateries.each do |eatery| %>
          <option value="<%= eatery.id %>" <%= "selected" if eatery.id == @deal.eatery_id %>>
          <%= "#{eatery.name}" %>
          </option>
        <% end %>
      </select>
    </div>
    <div>
      <select name="burger_id">
        <% @burgers.each do |burger| %>
          <option value="<%= burger.id %>" <%= "selected" if burger.id == @deal.burger_id %>>
          <%= "#{burger.name}" %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <button>Update Deal</button>
</form>
