<nav class="nav_bar">
  <ul>
    <li><a href="/">Landing Page</a></li>
    <li><a href="/seeker/eateries">Eateries</a></li>
    <li><a href="/seeker/deals">Deals</a></li>
  </ul>
</nav>

<div class="seeker_home">
  <nav>
    <ul>
      <% @days.each do |day| %>
        <li>
          <a href="/seeker/<%= day.downcase %>">
            <%= day %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>

  <div>
    <h2><%= "#{@title}" %></h2>
    <% if @days_deals == [] %>

      <div>
        <p>No deals today!</p>
      </div>

    <% else %>

      <% @days_deals.each do |deal| %>

        <div class="deal_list">
          <a href="/seeker/eateries/<%= deal.eatery.id %>">
            <img src="./images/<%= deal.eatery.logo %>">
            <p><%= "#{deal.eatery.name}" %></p>
          </a>
          <a href="/seeker/deals/<%= deal.id %>">
            <p><%= "#{deal.name}" %></p>
            <p><%= "Saving: £#{deal.money_saved}" %></p>
          </a>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
