<nav class="nav_bar">
  <ul>
    <li><a href="/dealz">Home</a></li>
    <li><a href="/dealz/eateries">Eateries</a></li>
  </ul>
</nav>

<h2><%= @deal.name %></h2>
<p><%= @deal.money_saved %></p>
<p><%= @deal.day.to_s %></p>
<p><%= @deal.eatery.name %></p>
<p><%= @deal.burger.name %></p>
<p><%= @deal.burger.display_price %></p>
<a href="/dealz/burgers/<%= @deal.burger_id %>">Burger</a>
