<nav class="nav_bar">
  <ul>
    <li><a href="/seeker">Seeker Home</a></li>
    <li><a href="/seeker/eateries">Eateries</a></li>
  </ul>
</nav>

<div class="seeker_show">
  <div class="seeker_style">
    <h2><%= @deal.name %></h2>
    <p>Applies to: <%= @deal.burger.name %></p>
    <p>Normally costs: £<%= @deal.burger.display_price %></p>
    <p>You'll save: £<%= @deal.money_saved %></p>
    <p>It's on: <%= @deal.day.to_s %></p>
    <p>It's at: <%= @deal.eatery.name %></p>
    <a href="/seeker/burgers/<%= @deal.burger_id %>">Burger</a>
  </div>
</div>
