<a href="/dealz">Home</a>
<a href="/dealz/eateries">Eateries</a>
<a href="/dealz/deals">Deals</a>

<img src="../../public/images/<%= @eatery.logo %>">
<h2><%= @eatery.name %></h2>
<p><%= @eatery.address %></p>
<p><%= @eatery.tel_no %></p>
<a href="/dealz/burgers/<%= @eatery.id %>">Burgers</a>
