<nav class="nav_bar">
  <ul>
    <li><a href="/dealz">Home</a></li>
    <li><a href="/dealz/eateries">Eateries</a></li>
    <li><a href="/dealz/deals">Deals</a></li>
  </ul>
</nav>

<img src="../../public/images/<%= @eatery.logo %>">
<h2><%= @eatery.name %></h2>
<p><%= @eatery.address %></p>
<p><%= @eatery.tel_no %></p>
<a href="/dealz/burgers/eatery/<%= @eatery.id %>">Burgers</a>
