<nav class="nav_bar">
  <ul>
    <li><a href="/seeker">Home</a></li>
    <li><a href="/seeker/eateries">Eateries</a></li>
    <li><a href="/seeker/deals">Deals</a></li>
  </ul>
</nav>

<img src="../../public/images/<%= @eatery.logo %>">
<h2><%= @eatery.name %></h2>
<p><%= @eatery.address %></p>
<p><%= @eatery.tel_no %></p>
<a href="/seeker/burgers/eatery/<%= @eatery.id %>">Burgers</a>
